{% extends "base.html" %}
{% block content %}
<div id="intro">

  <h3>¿Why you must using the Address Book Online?</h3>
  <br/>
  <p>Address Book Online is a Django application that implement Userna for manage
      the profile, this project was created with object to organize all your contacts way easy.
      It's a fully customizable application that takescare of the signup, activation, messaging and more. It's BSD licensed, which
      means you can use it commercially for free!</p>
  
  
  
</div><!-- /intro-->


{% endblock %}
