{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{% block title %}Address Book{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Accounts for your Django application" />
    <meta name="keywords" content="accounts, django, bread and pepper, open source" />
    <meta name="author" content="Bread and Pepper" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/master.css" />
   
    <script language="JavaScript" type="text/javascript">
        <!--
        function PopWindow()
        {
        window.open('https://graph.facebook.com/oauth/authorize?client_id=153309531399400&redirect_uri=http://localhost:8000/face/&scope=publish_stream,email&display=popup','MyWindow','width=450,height=275,menubar=yes,scrollbars=yes,toolbar=yes,location=yes,directories=yes,resizable=yes,top=0,left=0');
        }
        //-->
    </script>
  </head>
  <body>
    <div id="top">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
    <div id="container">	
      <div id="header">

        <h1><a href="{% url promo %}">django-userena</a></h1>

        {% block nav %}
        <ul id="nav">
          <li><a href="{% url promo %}"><span>{% trans 'Home' %}</span></a></li>
          {% if user.is_authenticated %}
          
          
          <li><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a></li>
          <li><a href="{% url userena_signout %}"><span>{% trans 'Signout' %}</span></a></li>
          {% else %}
          <li><a href="{% url userena_signin %}"><span>{% trans 'Signin' %}</span></a></li>
          <li><a onclick="JavaScript:PopWindow()" href="#"><span>{% trans 'Facebook' %}</span></a></li>
          <li><a href="{% url userena_signup %}"><span>{% trans 'Signup' %}</span></a></li>
          {% endif %}
        </ul>
        {% endblock %}
        {% if not user.is_authenticated %}
        <div id="try"></div>
        {% endif %}

      </div><!-- /header-->
      
      {% block content_title %}{% endblock %}
      <div id="content-container">
        {% block content %}{% endblock %}
      </div><!-- /content-container-->
      <div id="footer"><p>{% trans 'Address Book Online' %} <a href="#">2011</a></p></div>
    </div><!-- /container-->


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8888610-14']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </body>
 </html>
