{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block content %}

<ul id="profile-nav">
     <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %}</a></li>
     <li class="selected"><a href="{% url contact user.username %}">{% trans "Contact" %}</a></li>
     <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %}</a></li>
     <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
     <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
 </ul>

<form action="" method="post">
    {% if user.username == account.user.username %}
          <ul id="box-nav">
              <li class="first"><a href="{% url userena_detail user.username %}"><span>{% trans 'View profile' %}</span></a></li>
              <li  class="last selected"><a href="{% url contact user.username %}">{% trans "Contact" %}</a></li>
              <li><a href="{% url userena_edit account.user.username %}">{% trans "Edit profile" %}</a></li>
              <li><a href="{% url userena_password_change account.user.username %}">{% trans "Change password" %}</a></li>
              <li><a href="{% url userena_email_change account.user.username %}">{% trans "Change email" %}</a></li>
          </ul>
          {% endif %}
    {% csrf_token %}
    <fieldset>
        <input type="hidden" value="{{user.id}}" id="user_id" name="user_id">
        <legend>{% trans "New Event" %}</legend>
        <p>{{form.contact.errors}}</p>
        <p><label>Contact: </label>{{ form.contact }}</p>
        <p>{{form.event.errors}}</p>
        <p><label>Event: </label>{{ form.event }}</p>
        <p>{{form.date_event.errors}}</p>
        <p><label>Date Event: </label>{{ form.date_event }}</p>
        <p>{{form.to_do.errors}}</p>
        <p><label>To Do: </label>{{ form.to_do}}</p>
    </fieldset>
    <input type="submit" value="AddEvent" />
</form>
{% endblock %}